<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.hs_coburg.de/mgse/platform/glossary/GlossaryModel"
			class = "de.hs_coburg.mgse.platform.glossary.glossaryModel.GlossaryModelPackage"
			genModel = "model/generated/GlossaryModel.genmodel" />
	</extension>
</plugin>
