<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.hs_coburg.de/mgse/platform/modulehandbook/ModuleHandbookModel"
			class = "de.hs_coburg.mgse.platform.modulehandbook.moduleHandbookModel.ModuleHandbookModelPackage"
			genModel = "model/generated/ModuleHandbookModel.genmodel" />
	</extension>
</plugin>
